* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

ul {
  list-style: none;
}

li img {
  max-width: 150px;
}

.character-selection {
  display: flex;
  justify-content: center;
}

.characters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  cursor: pointer;
}

.selector-1 {
  height: 375px;
  width: 375px;
  border: dashed 10px #ffff66;
}

.selector-1 img {
  max-width: 350px;
}

.selector-2 img {
  max-width: 350px;
}

.hidden {
  display: none;
}

.fight-section {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.prompt-ready {
  cursor: pointer;
}

.prompt-directions {
  cursor: pointer;
}

.prompt-directions-player2 {
  cursor: pointer;
}

h1 {
  font-family: "Ruwudu", serif;
  font-size: 50px;
  color: #ffff66;
  text-align: center;
  margin: 40px 0 30px 0;
}

span {
  text-transform: uppercase;
  font-family: "Tilt Prism", cursive;
  font-size: 100px;
}

h2 {
  font-family: "Ruwudu", serif;
  color: #ffff66;
}

.stats {
  display: flex;
  justify-content: space-between;
}
