* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

ul {
  list-style: none;
}

li img {
  max-width: 150px;
}

.character-selection {
  display: flex;
  justify-content: center;
}

.characters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}
